@font-face {
    font-family: 'latoheavy';
    src: url('../fonts/latoheavy/lato-heavy.eot');
    src: url('../fonts/latoheavy/lato-heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/latoheavy/lato-heavy.woff2') format('woff2'),
         url('../fonts/latoheavy/lato-heavy.woff') format('woff'),
         url('../fonts/latoheavy/lato-heavy.ttf') format('truetype'),
         url('../fonts/latoheavy/lato-heavy.svg#latoheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/latobold/lato-bold.eot');
    src: url('../fonts/latobold/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/latobold/lato-bold.woff2') format('woff2'),
         url('../fonts/latobold/lato-bold.woff') format('woff'),
         url('../fonts/latobold/lato-bold.ttf') format('truetype'),
         url('../fonts/latobold/lato-bold.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/latolight/lato-light.eot');
    src: url('../fonts/latolight/lato-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/latolight/lato-light.woff2') format('woff2'),
         url('../fonts/latolight/lato-light.woff') format('woff'),
         url('../fonts/latolight/lato-light.ttf') format('truetype'),
         url('../fonts/latolight/lato-light.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/latoregular/lato-regular.eot');
    src: url('../fonts/latoregular/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/latoregular/lato-regular.woff2') format('woff2'),
         url('../fonts/latoregular/lato-regular.woff') format('woff'),
         url('../fonts/latoregular/lato-regular.ttf') format('truetype'),
         url('../fonts/latoregular/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}